* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-image: url(../image/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.clear {
  clear: both;
}

#sec-lateral {
  width: 30%;
  height: 100%;
  align-items: center;
  position: fixed;
  background-color: rosybrown;
  text-align: center;
}
  
#sec-lateral .container {
  top:50%;
  position: absolute;
  transform:translateY(-50%);
}

#sec-lateral .foto img {
  width: 70%;
  border: 4px solid whitesmoke;
  border-radius: 50%;
}

#sec-lateral .menu {
  padding: 10px 4%;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 2.4px;
  word-spacing: 2.4px;
  font-size: 1rem;
}

#sec-lateral .alignImage {
  padding: 10px 2%;
}

#sec-lateral .alignImage img {
  width: 100%;
  height: 80%;
  max-width: 48px;
  max-height: 48px;
  text-align: center;
  opacity: 0.6;
}

#sec-convite {
  height: 100%;
  left: 34%;
  padding: 10px 2%;
  position: absolute;
  letter-spacing: 2.4px;
  word-spacing: 2.4px;
}

#sec-convite .container {
  top: 50%;
  position: relative;
  transform: translateY(-60%);
}

#sec-convite .box-one {
  font-size: 1rem;
}

#sec-convite .box-two {
  margin-right: 2%;
  padding: 24px 2%;
  float: right;
}
   
#sec-convite .box-two input {
  padding: 4px 4px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid dimgray;
  background-color: silver;
  letter-spacing: 1.5px;
  cursor: pointer;
}

#sec-convite .box-two input:hover {
  background-color: springgreen;
}

#footer .container {
  right: 16px;
  bottom: 16px;
  float: right;
  position: absolute;
  font-size: 1rem;
}

/**Mobile**/
@media (max-width: 768px){
  #sec-lateral {
    width: 40%;  
  }

  #sec-lateral .foto img {
    width: 80%;
  }

  #sec-convite {
    left: 45%;
    font-size: 12px;
  }

  #sec-convite .box-one {
    font-size: .8rem;
  }
   
  #sec-convite .box-two input {
    font-size: 12px;
  }

  #footer .container {
    font-size: .7rem;
  }
}